# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {
      'label': 'Mean en2ja',
      'command': 'dict-en2ja:mean'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Dict En2ja'
      'submenu': [
        { 'label': 'Mean', 'command': 'dict-en2ja:mean' }
      ]
    ]
  }
]
